# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local
.env.*.local

# Editor directories
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Proyectos Independientes y Respaldos
rrhh-portoparques/
backup_new_poda_publica/
backup_v1_poda_publica/
